@import "src/app/scss/mixins.scss";

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__img {
  width: 150px;
  height: auto;

  margin-right: 40px;
}

.pokemon__name {
  font-size: 40px;
}

@include mobile {
  .pokemon {
    flex-wrap: wrap;
  }

  .pokemon__img {
    margin: 0;
  }

  .pokemon__name {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
